.main_home{
    display: flex;
    flex-direction: row;

    .main_home__left_bar{
        flex-grow: 0.1;
        display: flex;
        flex-direction: column;
        .left_bar__create_post{
            flex-grow: 0;
            background-color: var(--white);
            margin: var(--medium) var(--medium) var(--small) var(--medium);
            border-radius: var(--normal);
            padding: var(--normal);
            box-shadow: 0px 0px 10px 5px var(--shadow);

            display: flex;
            flex-direction: column;
            .create_post__profile{
                margin-bottom: var(--normal);
                span{
                    font-size: var(--medium);
                    font-weight: bold;
                }
            }
            .create_post__post{
                textarea{
                    resize: none;
                    width: 100%;
                    padding: var(--small);
                    font-size: var(--normal);
                    outline: none;
                    background-color: var(--white);
                    border: 1px solid var(--purple);
                    border-radius: var(--small);
                    font-weight: normal;
                    color: var(--black);
                }
                div{
                    margin-top: var(--small);
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    .post__file{
                        display: none;
                    }
                    .post__file_upload_label{
                        margin-right: var(--normal);
                        .upload_label__logo{
                            width: var(--large);
                            height: var(--large);
                            cursor: pointer;
                            filter: var(--f-purple);
                        }
                    }
                    button{
                        border: none;
                        background-color: var(--purple);
                        color: var(--white);
                        padding: var(--small);
                        border-radius: var(--small);
                        cursor: pointer;
                        transition: transform 0.3s ease;
                    }
                    button:hover{
                        transform: scale(1.2);
                    }
                }
            }
        } // end of create post

        .left_bar__see_online{
            flex-grow: 1;
            height: 0;
            margin: var(--small) var(--medium) var(--medium) var(--medium);
            margin-bottom: calc(var(--x-large) * 4);
            // padding: var(--normal);
            border-radius: var(--normal);
            box-shadow: 0px 0px 10px 5px var(--shadow);

            display: flex;
            flex-direction: column;

            .see_online__title{
                padding: var(--small);
                // border-bottom: 1px solid var(--purple);
                text-align: center;
                span{
                    font-size: calc(var(--medium) - 0.2rem);
                    font-weight: lighter;
                }
            }
            .see_online__friends{
                padding: var(--normal);
                .friends__info{
                    font-weight: bold;
                }
            }
        }

    }

    .main_home__news_feed{
        // background-color: red;
        flex-grow: 1;
    }

    .main_home__right_bar{
        // background-color: yellow;
        flex-grow: 0.5;
    }

}